<h1>Change Log</h1>

<p>&lt;pre&gt;
v1.2.0  [TIMOB-18092] Updated to build for 64bit</p>

<p>v1.1	Fixed a bug that prevented several of the &quot;error&quot; events from firing. [MOD-533]</p>

<p>v1.0    Initial Release</p>