<h1>Ti.UDP</h1>

<h2>Description</h2>

<p>Provides access to the UDP protocol for sending packets across a network.</p>

<h2>Methods</h2>

<h3>void createSocket(dictionary args)</h3>

<p>Creates a <a href="socket.html">UDP.Socket</a> that you can use to marshal UDP traffic.</p>

<h2>Usage</h2>

<p>See example.</p>

<h2>Author</h2>

<p>Dawson Toth</p>

<h2>Module History</h2>

<p>View the <a href="changelog.html">change log</a> for this module.</p>

<h2>Feedback and Support</h2>

<p>Please direct all questions, feedback, and concerns to <a href="mailto:info@appcelerator.com?subject=iOS%20UDP%20Module">info@appcelerator.com</a>.</p>

<h2>License</h2>

<p>Copyright(c) 2010-2011 by Appcelerator, Inc. All Rights Reserved. Please see the LICENSE file included in the distribution for further details.</p>