<h1>Ti.UDP</h1>

<h2>Description</h2>

<p>Marshals UDP traffic.</p>

<h2>Methods</h2>

<h3>void start(dictionary args)</h3>

<p>Starts the socket. Takes a dictionary with the following values:</p>

<ul><li>int port: The port on which to listen.</li></ul>

<h3>void sendString(dictionary args)</h3>

<p>Sends a string of data over UDP. Takes a dictionary with the following values:</p>

<ul><li>string host [optional]: The host address to which data will be sent. Broadcasts if no host is specified.</li><li>int port [optional]: The port on which to listen. Uses the port the socket was created with if not specified.</li><li>string data: The string to send.</li></ul>

<h3>void sendBytes(dictionary args)</h3>

<p>Sends bytes over UDP. Takes a dictionary with the following values:</p>

<ul><li>string host [optional]: The host address to which data will be sent. Broadcasts if no host is specified.</li><li>int port [optional]: The port on which to listen. Uses the port the socket was created with if not specified.</li><li>int[] data: The bytes to send.</li></ul>

<h3>void stop()</h3>

<p>Stops listening for and sending network traffic.</p>

<h2>Events</h2>

<h3>started</h3>

<p>Fired when the socket has finished initializing and it is ready to be used.</p>

<h3>data</h3>

<p>Fired when data is received. A dictionary is provided with the following values:</p>

<ul><li>string stringData: A string representation of the data received; may or may not be accurate, depending on the data sent.</li><li>int[] bytesData: A bytes representation of the data received; may or may not be accurate, depending on the data sent.</li><li>string address: The raw address received.</li></ul>

<h3>error</h3>

<p>Fired when an error is encountered. A dictionary is provided with the following values:</p>

<ul><li>string error: The error</li></ul>